.about {
    width: 100%;
    padding: 5rem 2rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #f2f1ed;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
    padding-bottom: 0.5rem;
}

.title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 4px;
    background-color: #b9c7f8;
    border-radius: 2px;
}

.content {
    text-align: left;
}

.content p {
    font-size: 1.1rem;
    color: #f2f1ed;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

.content p:last-child {
    margin-bottom: 0;
}