/* src/components/layout/PageLayout/PageLayout.module.css DOSYASININ İÇERİĞİ */

.layoutContainer {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 0rem;
    box-sizing: border-box;
}

.mainContent {
    flex: 1;
    padding: 2rem 0;
}

@media (max-width: 768px) {
    .container {
        padding: 2rem 0rem;
    }
}