.searchInput {
    padding: 0.75rem 1rem;
    border: 1px solid #f2f1ed;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
    max-width: 300px;
    background-color: #1e1e24;
    color: #f2f1ed;
    
}

.searchInput::placeholder {
    color: #888;
}

.searchInput:focus {
    outline: none;
    border: #f2f1ed;
    box-shadow: 0 0 0 3px rgba(185, 199, 248, 0.2);
}