/* src/pages/ContactPage/ContactPage.module.css */

.contactPage {
    padding: 4rem 2rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-bottom: 3rem;
}

.header h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #f2f1ed;
}

.header p {
    font-size: 1.1rem;
    color: #f2f1ed;
    max-width: 600px;
    margin: 0 auto;
}

.formContainer {
    background-color: #1e1e24;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .formContainer {
        padding: 2rem;
    }
}